.area_articulo{
    position: relative;
}
.area_articulo .card{
    width: 320px;
    border-color: transparent;
}
.area_articulo .card img{
    height: 400px;
}
.descripcion{
    color: #999999;
}
.reacciones{
    color: #999999;
}
.categoria{
    color: #f05d23;
}
.continuar_leyendo{
    color: #fff;
    background-color: #f05d23;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 10px;
    border-radius: 30px;
}
.continuar_leyendo:hover{
    text-decoration: none;
}

@media screen and (min-width: 544px){
	/*body{
		background-color: green;
    }*/
    .area_articulo .card{
        width: 260px;
    }
}

@media screen and (min-width: 768px){
	/*body{
		background-color: yellow;
    }*/
    .area_articulo .card{
        width: 300px;
    }
}
@media screen and (min-width: 992px){
	/*body{
		background-color: orange;
    }*/
}
@media screen and (min-width: 1200px){
	/*body{
		background-color: lime;
    }*/
    .area_articulo .card{
        width: 310px;
    }
}