footer{
    background-color: #132238;
    color: rgba(255, 255, 255, 0.5);
    padding: 30px;
}
footer ul li{
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
footer ul li a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
footer ul li a:hover{
    text-decoration: none;
    color: #fff;
}
footer ul li span{
    position: absolute;
    right: 15px;
}