.item_tuto{
    width: 100%;
    height: cover;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
}
.item_tuto .fondo{
    width: 100%;
    height: 50px;
    background-color:#132238;
    color: #fff;
    text-align: center;
}
.item_tuto img{
    width: 100%;
    height: auto;
}
.item_tuto .descripcion{
    background-color: #fff;
}
.item_tuto .descripcion a{
    text-align: center;
    color:#132238;
    font-size: 14px;
    text-decoration: none;
}

@media screen and (min-width: 544px){
	/*body{
		background-color: green;
    }*/ 
}

@media screen and (min-width: 768px){
	/*body{
		background-color: yellow;
    }*/
    .item_tuto .fondo{
        width: 100%;
    }
}
@media screen and (min-width: 992px){
	/*body{
		background-color: orange;
	}*/
}
@media screen and (min-width: 1200px){
	/*body{
		background-color: lime;
	}*/
}