.card{
    border-color: transparent;
}
.card img{
    width: cover;
    height: 250px;
}
.card h6{
    color: #f05d23;
    font-weight: bold;
}
.card p{
    color: #999999;
}
.card a{
    background-color: #f05d23;
    color: #fff;
    border-radius: 50px;
    font-size: 18px;
}
.paginacion ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    border: 1px solid #f05d23;
    color: #f05d23;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 5px; 
    cursor: pointer;
}
.paginacion ul .active{
    background-color: #f05d23;
    color: #fff;
    position: relative;
    top: -20px;
}
.arrow-right.icon {
  color: #f05d23;
  position: absolute;
  margin-left: 5px;
  margin-top: 13px;
  width: 16px;
  height: 1px;
  background-color: #f05d23;
}

.arrow-right.icon:before {
  content: '';
  position: absolute;
  right: 1px;
  top: -4px;
  width: 10px;
  height: 10px;
  border-top: solid 1px #f05d23;
  border-right: solid 1px #f05d23;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-left.icon {
  color: #f05d23;
  position: absolute;
  margin-left: 5px;
  margin-top: 13px;
  width: 16px;
  height: 1px;
  background-color: #f05d23;
}

.arrow-left.icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -5px;
  width: 10px;
  height: 10px;
  border-top: solid 1px #f05d23;
  border-right: solid 1px #f05d23;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

